.auth-container {
    max-width: 400px;
    margin: 100px auto;
    padding: 30px;
    background-color: White;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.auth-container h2 {
    text-align: center;
    font-size: 30px;
}

.auth-form {
    display: flex;
    flex-direction: column;
}

.auth-form ::placeholder {
    font-size: 15px;
}

.auth-form input {
    margin-bottom: 15px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.auth-form button {
    padding: 10px;
    background-color: rgb(41, 106, 246);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.auth-form button:hover {
    background-color: rgb(10, 10, 233);
}

.create-acc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
}

.left-text {
    margin: 0;
}

.right-link {
    color: blue;
    text-decoration: none;
}

.right-link:hover {
    text-decoration: underline;
}


.error-msg {
    color: red;
}